<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937051860990-bu0f8ordg00h3iphpnffbmcpq9ieoi6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937051860990-bu0f8ordg00h3iphpnffbmcpq9ieoi6t</string>
	<key>API_KEY</key>
	<string>AIzaSyCE6bh0C97G3yPK-fRZLUO-7pXVh7MkE14</string>
	<key>GCM_SENDER_ID</key>
	<string>937051860990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danieldesan.SuperSanitaryGraphApp</string>
	<key>PROJECT_ID</key>
	<string>super-sanitary-graph-app</string>
	<key>STORAGE_BUCKET</key>
	<string>super-sanitary-graph-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937051860990:ios:2a694688fcf73f7d989aaf</string>
</dict>
</plist>